services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db-ezybuy
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ezybuy-db
