services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db-ezybuy
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ezybuy-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
