spring:
  application:
    name: gate-keeper

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ezybuy-db
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

app:
  jwt:
    secret: 9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f9sd8f
    expiration: 900000
    refresh-expiration: 604800000

logging:
  level:
    org.springframework.security: DEBUG
